<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} Page not Found</title>
	<link rel="stylesheet" type="text/css" href="{{ asset_davis('assets/css/style.css') }}">

</head>
<body>

<div class="container">
	<div class="container-fluid">
		<div class="row">
			<h1 class="core-title">404<br>P&aacute;gina no Encontrada </h1>
			<div class="social-network">
				<a href="/" class="btn btn-success">Inicio</a>

			</div>
		</div>
	</div>
</div>

</body>
</html>