{% extends 'layouts/app.html.twig' %}

{% block title %}
 Welcome to
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div  class="col-md-12">
        <h1 class="text-center text-primary davis">
          Davis
          <span class="sp">SP</span>
        </h1>
      </div>

      <div class="social-network text-center">
        <a href="https://www.facebook.com/luis.solorzanop.9" target="_blank">
          <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/luisnic21" target="_blank">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/davidsolorzano20" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.drupal.org/u/davidparedes21" target="_blank">
          <i class="fa fa-drupal fa-2x" aria-hidden="true"></i>
        </a>
      </div>

      <form method="post" action="{{ route('/data/form') }}" enctype="multipart/form-data">
        <input name="name" type="file">
        <input type="submit" value="Subir">
      </form>
    </div>
  </div>
{% endblock %}